 {% include 'header.twig' %}

    <div class="row">
        <div class="col-4">

            <div class="row">
                <div class="col-12"> 
                <h4>Collections</h4>
                    <!-- Sélecteur Collection -->
                    <select name="collection">
                        <option value="tous">Tous</option>
                    {% for item in collections %}
                        <option value="{{ item.collection_id }}">{{ item.collection_name }}</option>
                    {% endfor %}
                    </select>
                </div>

                <div class="col-12"> 
                    <h4>Type de pierres</h4>
                    <!-- Sélecteur Gem Type -->
                    <select name="gem_type">
                        <option value="tous">Tous</option>
                    {% for item in gemTypes %}
                        <option value="{{ item.gem_id }}">{{ item.gem_name }}</option>
                    {% endfor %}
                    </select>
                </div>
                
                <div class="col-12">
                    <h4>Cétégories</h4>
                    <!-- Sélecteur Catégorie -->
                    <select name="category">
                        <option value="tous">Tous</option>
                    {% for item in categories %}
                        <option value="{{ item.category_id }}">{{ item.category_name }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>

        </div>
        <div class="col-8">
            {% for item in products %}
                <div onclick="product_page()" class="product_img">
                    <img src="/img/{{ item.image }}" alt="" />
                    <div class="item-info">
                        <p>{{ item.product_name }}</p>
                        <span>{{ item.price }}€</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>

{% include 'footer.twig' %}

<script src="/js/productList.js"></script>
